
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: auto;
}

.header {
    background-color: #b3a7f7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .contact {
    color: black;
    font-size: 16px;
}

.header .contact i {
    margin-right: 10px;
}

.navbar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-links a.active {
    font-weight: bold;
}

.navbar .nav-links a:hover {
    color: #b3a7f7; /* Change to the color you prefer for the hover effect */
    transform: scale(1.1);
}

.navbar .login {
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 150px;
}

.text-content {
    width: 40%;
}

.text-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.2em;
    line-height: 1.5;
}

.slideshow-container {
    position: relative;
    width: 50%;
    height: 600px;
    margin-top: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    33.33% {
        opacity: 1;
        transform: translateX(0);
    }
    43.33% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slides:nth-child(1) {
    animation-delay: 0s;
}

.slides:nth-child(2) {
    animation-delay: 4s;
}

.slides:nth-child(3) {
    animation-delay: 8s;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        width: 100%;
    }

    .slideshow-container {
        width: 100%;
        height: 400px;
    }

    .text-content h1 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 1em;
    }
}

.top-categories {
    margin-top: auto;
    padding: 50px;
    text-align: left;
    justify-content: center;
    background-color: #eff4fd;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.category {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 50px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category img {
    width: 100%;
    border-radius: 10px;
}

.category p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #333;
}

.category:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #cec6ff;
}

.category:hover p {
    font-size: 20px;
}

.top-services {
    margin-top: auto;
    padding: 50px;
    text-align: left;
    justify-content: center;
    background-color: #ffffff;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    justify-content: center;
}

.card {
    position: relative;
    width: 200px;
    margin: 0 auto;
    background-color: #e0e7ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease,
        background-color 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
    text-align: left;
}

.card-content h3 {
    font-size: 16px;
    margin: 10px 0;
}

.card-content p {
    font-size: 14px;
    color: #333;
}

.card-content .price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    transition: font-size 0.3s ease;
}

.card .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #cec6ff;
}

.card:hover .price {
    font-size: 20px;
}

.featured-services {
    margin: 0 auto;
    padding: 50px;
    background-color: #eff4fd;
}
.title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-services {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 23%;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.card-price {
    color: #4a4a4a;
    font-size: 14px;
    margin: 5px 0;
}
.card-provider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.card-provider img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.card-provider span {
    color: #4a4a4a;
    font-size: 14px;
}
.card-rating {
    display: flex;
    align-items: center;
    color: #4a4a4a;
    font-size: 14px;
}
.card-rating i {
    color: #ffcc00;
    margin-right: 5px;
}
.card-rating span {
    margin-left: 5px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.description-left {
    flex: 1;
}
.description-right {
    flex: 1;
    text-align: right;
}
.description h2 {
    font-size: 24px;
    margin: 0;
}
.description p {
    font-size: 14px;
    margin: 0;
}
.service_img {
    display: flex;
    width: 100%;
    padding: 20px;
}
.service_img img {
    width: 300px;
    height: 300px;
}
.service_img .text {
    width: 50%;
    padding-left: 20px;
}
.service_img .text ul {
    list-style-type: none;
    padding: 0;
}
.service_img .text ul li {
    margin-bottom: 20px;
}
.service_img .text ul li::before {
    content: "•";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.footer {
    width: 100%;
    background-color: #b3a7f7;
    color: white;
    text-align: left;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .logo {
    flex: 0 0 auto;
    margin-left: 100;
}

.footer .info {
    flex: 1;
    margin-left: 50px;
}

.footer .info p {
    margin: 5px 0;
}

.footer .social {
    flex: 0 0 auto;
    margin-right: 100px;
}

.footer .social a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
}

